body {
  margin-left: 10%;
  background-color: #eee;
}

#container {
  width: 80%;
}

#header {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 0.4em;
  font-size: 1em;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  color: #111;
}

#header h1 {
  font-size: 4em;
  text-align: center;
}

#header h6 {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  color: #888;
}

#content {
  background-color: #fff;
  padding: 1em;
  font-size: 1em;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  color: #555;
}

#content p {
  line-height: 150%;
  text-align: justify;
}

#content li {
  line-height: 150%;
}

#content pre, code {
  padding: 0.5em;
  background-color: #ddd;
  line-height: 180%;
}

#footer {
  padding: 1em;
  font-size: 0.75em;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  color: #666;
  background-color: #ddd;
}

a {
  padding: 0.2em;
  color: #555;
  background-color: #ddd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#footer a {
  padding: 0.2em;
  color: #666;
  background-color: #ccc;
  text-decoration: none;
}

#footer a.period:after {
  content: ".";
}

#footer a:hover {
  text-decoration: underline;
}


