layout: default
title: Acute Programming Language
subtitle: A small, focused language
--
%p
  Acute is an object-oriented programming language based on prototypes. It is an implementation of
  %a{:href => "http://www.iolanguage.com/"} Io
  and aims to be entirely self-hosting. After all, any language worth its weight in NAND flash is self-hosting, isn't it?
%h3 Feature list, ready for it?
%p
  Here's a list of the features in Acute, more detail will be covered in the
  %a{:href => "/docs/index.html"} documentation.
  %ul
    %li Lightweight Object-Oriented language
    %li Bootstrapped in Ruby (later, LLVM IR)
    %li Enhanced lightweight object model (differs from Io, more powerful)
    %li Slots as first class citizens (known as Metas in Acute)
%h3 Where's the code, Jack?
%p
  %a{:href => "https://github.com/acutelanguage/acute"} GitHub
  of course!
